# Organize your Data

In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.5     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.0.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
head(penguins)

ERROR: Error in head(penguins): objet 'penguins' introuvable

In [4]:
library(palmerpenguins)

**!!!** using **[seq.int(15),]** to limit the number of rows to show as Jupyter notebook has different setting for tibble printing

**arrange() :** sort data by bill_length_mm in ascending order

In [9]:
penguins[seq.int(10),] %>% arrange(bill_length_mm)

   species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1  Adelie  Torgersen 34.1           18.1          193               3475
2  Adelie  Torgersen 36.7           19.3          193               3450
3  Adelie  Torgersen 38.9           17.8          181               3625
4  Adelie  Torgersen 39.1           18.7          181               3750
5  Adelie  Torgersen 39.2           19.6          195               4675
6  Adelie  Torgersen 39.3           20.6          190               3650
7  Adelie  Torgersen 39.5           17.4          186               3800
8  Adelie  Torgersen 40.3           18.0          195               3250
9  Adelie  Torgersen 42.0           20.2          190               4250
10 Adelie  Torgersen   NA             NA           NA                 NA
   sex    year
1  NA     2007
2  female 2007
3  female 2007
4  male   2007
5  male   2007
6  male   2007
7  female 2007
8  female 2007
9  NA     2007
10 NA     2007

**arrange(-) :** to sort the data following the column in descending order

In [10]:
penguins[seq.int(10),] %>% arrange(-bill_length_mm)

   species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1  Adelie  Torgersen 42.0           20.2          190               4250
2  Adelie  Torgersen 40.3           18.0          195               3250
3  Adelie  Torgersen 39.5           17.4          186               3800
4  Adelie  Torgersen 39.3           20.6          190               3650
5  Adelie  Torgersen 39.2           19.6          195               4675
6  Adelie  Torgersen 39.1           18.7          181               3750
7  Adelie  Torgersen 38.9           17.8          181               3625
8  Adelie  Torgersen 36.7           19.3          193               3450
9  Adelie  Torgersen 34.1           18.1          193               3475
10 Adelie  Torgersen   NA             NA           NA                 NA
   sex    year
1  NA     2007
2  female 2007
3  female 2007
4  male   2007
5  male   2007
6  male   2007
7  female 2007
8  female 2007
9  NA     2007
10 NA     2007

Saving the dataframe in a variable

In [11]:
penguins2 <- penguins %>% arrange(-bill_length_mm)

In [16]:
head(penguins2)

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Gentoo    Biscoe 59.6           17.0          230               6050
2 Chinstrap Dream  58.0           17.8          181               3700
3 Gentoo    Biscoe 55.9           17.0          228               5600
4 Chinstrap Dream  55.8           19.8          207               4000
5 Gentoo    Biscoe 55.1           16.0          230               5850
6 Gentoo    Biscoe 54.3           15.7          231               5650
  sex    year
1 male   2007
2 female 2007
3 male   2009
4 male   2009
5 male   2009
6 male   2008

* Dataframe with the 3 islands an the mean bill length of the penguins living there

In [24]:
penguins %>% group_by(island) %>% drop_na() %>% summarize(mean_bill_length_mm = mean(bill_length_mm))

  island    mean_bill_length_mm
1 Biscoe    45.24847
2 Dream     44.22195
3 Torgersen 39.03830

* Dataframe with the 3 islands an the max bill length of the penguins living there

In [18]:
penguins %>% group_by(island) %>% drop_na() %>% summarize(max_bill_length_mm = max(bill_length_mm))

  island    max_bill_length_mm
1 Biscoe    59.6
2 Dream     58.0
3 Torgersen 46.0

* Grouping by the species and the islands while displaying the mean and of the bill length

In [22]:
penguins %>% group_by(species, island) %>% drop_na() %>% summarize(max_bl = max(bill_length_mm), mean_bl = mean(bill_length_mm))

`summarise()` has grouped output by 'species'. You can override using the `.groups` argument.

  species   island    max_bl mean_bl
1 Adelie    Biscoe    45.6   38.97500
2 Adelie    Dream     44.1   38.52000
3 Adelie    Torgersen 46.0   39.03830
4 Chinstrap Dream     58.0   48.83382
5 Gentoo    Biscoe    59.6   47.56807

**filter() :** filter data to only show the designated type

In [25]:
penguins[seq.int(10),] %>% filter(species == "Adelie")

   species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1  Adelie  Torgersen 39.1           18.7          181               3750
2  Adelie  Torgersen 39.5           17.4          186               3800
3  Adelie  Torgersen 40.3           18.0          195               3250
4  Adelie  Torgersen   NA             NA           NA                 NA
5  Adelie  Torgersen 36.7           19.3          193               3450
6  Adelie  Torgersen 39.3           20.6          190               3650
7  Adelie  Torgersen 38.9           17.8          181               3625
8  Adelie  Torgersen 39.2           19.6          195               4675
9  Adelie  Torgersen 34.1           18.1          193               3475
10 Adelie  Torgersen 42.0           20.2          190               4250
   sex    year
1  male   2007
2  female 2007
3  female 2007
4  NA     2007
5  female 2007
6  male   2007
7  female 2007
8  male   2007
9  NA     2007
10 NA     2007