In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.5     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.0.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
library(janitor)

Attachement du package : 'janitor'


Les objets suivants sont masqués depuis 'package:stats':

    chisq.test, fisher.test

In [3]:
library(skimr)

In [4]:
bookings_df <- read_csv("hotel_bookings.csv")

Rows: 119390 Columns: 32

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr  (13): hotel, arrival_date_month, meal, country, market_segment, distrib...
dbl  (18): is_canceled, lead_time, arrival_date_year, arrival_date_week_numb...
date  (1): reservation_status_date


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
head(bookings_df)

  hotel        is_canceled lead_time arrival_date_year arrival_date_month
1 Resort Hotel 0           342       2015              July
2 Resort Hotel 0           737       2015              July
3 Resort Hotel 0             7       2015              July
4 Resort Hotel 0            13       2015              July
5 Resort Hotel 0            14       2015              July
6 Resort Hotel 0            14       2015              July
  arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights
1 27                       1                         0
2 27                       1                         0
3 27                       1                         0
4 27                       1                         0
5 27                       1                         0
6 27                       1                         0
  stays_in_week_nights adults ... deposit_type agent company
1 0                    2      ... No Deposit   NULL  NULL
2 0                    2      ... No Deposit   NULL  NULL
3 1                    1      ... No Deposit   NULL  NULL
4 1                    1      ... No Deposit   304   NULL
5 2                    2      ... No Deposit   240   NULL
6 2                    2      ... No Deposit   240   NULL
  days_in_waiting_list customer_type adr required_car_parking_spaces
1 0                    Transient      0  0
2 0                    Transient      0  0
3 0                    Transient     75  0
4 0                    Transient     75  0
5 0                    Transient     98  0
6 0                    Transient     98  0
  total_of_special_requests reservation_status reservation_status_date
1 0                         Check-Out          2015-07-01
2 0                         Check-Out          2015-07-01
3 0                         Check-Out          2015-07-02
4 0                         Check-Out          2015-07-02
5 1                         Check-Out          2015-07-03
6 1                         Check-Out          2015-07-03

In [6]:
# data frame structure
str(bookings_df)

spec_tbl_df [119,390 x 32] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ hotel                         : chr [1:119390] "Resort Hotel" "Resort Hotel" "Resort Hotel" "Resort Hotel" ...
 $ is_canceled                   : num [1:119390] 0 0 0 0 0 0 0 0 1 1 ...
 $ lead_time                     : num [1:119390] 342 737 7 13 14 14 0 9 85 75 ...
 $ arrival_date_year             : num [1:119390] 2015 2015 2015 2015 2015 ...
 $ arrival_date_month            : chr [1:119390] "July" "July" "July" "July" ...
 $ arrival_date_week_number      : num [1:119390] 27 27 27 27 27 27 27 27 27 27 ...
 $ arrival_date_day_of_month     : num [1:119390] 1 1 1 1 1 1 1 1 1 1 ...
 $ stays_in_weekend_nights       : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ stays_in_week_nights          : num [1:119390] 0 0 1 1 2 2 2 2 3 3 ...
 $ adults                        : num [1:119390] 2 2 1 1 2 2 2 2 2 2 ...
 $ children                      : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ babies                        : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ meal                          : chr [1:119390] "BB" "BB" "BB" "BB" ...
 $ country                       : chr [1:119390] "PRT" "PRT" "GBR" "GBR" ...
 $ market_segment                : chr [1:119390] "Direct" "Direct" "Direct" "Corporate" ...
 $ distribution_channel          : chr [1:119390] "Direct" "Direct" "Direct" "Corporate" ...
 $ is_repeated_guest             : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ previous_cancellations        : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ previous_bookings_not_canceled: num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ reserved_room_type            : chr [1:119390] "C" "C" "A" "A" ...
 $ assigned_room_type            : chr [1:119390] "C" "C" "C" "A" ...
 $ booking_changes               : num [1:119390] 3 4 0 0 0 0 0 0 0 0 ...
 $ deposit_type                  : chr [1:119390] "No Deposit" "No Deposit" "No Deposit" "No Deposit" ...
 $ agent                         : chr [1:119390] "NULL" "NULL" "NULL" "304" ...
 $ company                       : chr [1:119390] "NULL" "NULL" "NULL" "NULL" ...
 $ days_in_waiting_list          : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ customer_type                 : chr [1:119390] "Transient" "Transient" "Transient" "Transient" ...
 $ adr                           : num [1:119390] 0 0 75 75 98 ...
 $ required_car_parking_spaces   : num [1:119390] 0 0 0 0 0 0 0 0 0 0 ...
 $ total_of_special_requests     : num [1:119390] 0 0 0 0 1 1 0 1 1 0 ...
 $ reservation_status            : chr [1:119390] "Check-Out" "Check-Out" "Check-Out" "Check-Out" ...
 $ reservation_status_date       : Date[1:119390], format: "2015-07-01" "2015-07-01" ...
 - attr(*, "spec")=
  .. cols(
  ..   hotel = col_character(),
  ..   is_canceled = col_double(),
  ..   lead_time = col_double(),
  ..   arrival_date_year = col_double(),
  ..   arrival_date_month = col_character(),
  ..   arrival_date_week_number = col_double(),
  ..   arrival_date_day_of_month = col_double(),
  ..   stays_in_weekend_nights = col_double(),
  ..   stays_in_week_nights = col_double(),
  ..   adults = col_double(),
  ..   children = col_double(),
  ..   babies = col_double(),
  ..   meal = col_character(),
  ..   country = col_character(),
  ..   market_segment = col_character(),
  ..   distribution_channel = col_character(),
  ..   is_repeated_guest = col_double(),
  ..   previous_cancellations = col_double(),
  ..   previous_bookings_not_canceled = col_double(),
  ..   reserved_room_type = col_character(),
  ..   assigned_room_type = col_character(),
  ..   booking_changes = col_double(),
  ..   deposit_type = col_character(),
  ..   agent = col_character(),
  ..   company = col_character(),
  ..   days_in_waiting_list = col_double(),
  ..   customer_type = col_character(),
  ..   adr = col_double(),
  ..   required_car_parking_spaces = col_double(),
  ..   total_of_special_requests = col_double(),
  ..   reservation_status = col_character(),
  ..   reservation_status_date = col_date(format = "")
  .. )
 - attr(*, "problems")=<externalptr>

In [7]:
glimpse(bookings_df)

Rows: 119,390
Columns: 32
$ hotel                          <chr> "Resort Hotel", "Resort Hotel", "Resort~
$ is_canceled                    <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, ~
$ lead_time                      <dbl> 342, 737, 7, 13, 14, 14, 0, 9, 85, 75, ~
$ arrival_date_year              <dbl> 2015, 2015, 2015, 2015, 2015, 2015, 201~
$ arrival_date_month             <chr> "July", "July", "July", "July", "July",~
$ arrival_date_week_number       <dbl> 27, 27, 27, 27, 27, 27, 27, 27, 27, 27,~
$ arrival_date_day_of_month      <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ~
$ stays_in_weekend_nights        <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ stays_in_week_nights           <dbl> 0, 0, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 4, ~
$ adults                         <dbl> 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, ~
$ children                       <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ babies                         <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ meal                           <chr> "BB", "BB", "BB", "BB", "BB", "BB", "BB~
$ country                        <chr> "PRT", "PRT", "GBR", "GBR", "GBR", "GBR~
$ market_segment                 <chr> "Direct", "Direct", "Direct", "Corporat~
$ distribution_channel           <chr> "Direct", "Direct", "Direct", "Corporat~
$ is_repeated_guest              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ previous_cancellations         <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ previous_bookings_not_canceled <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ reserved_room_type             <chr> "C", "C", "A", "A", "A", "A", "C", "C",~
$ assigned_room_type             <chr> "C", "C", "C", "A", "A", "A", "C", "C",~
$ booking_changes                <dbl> 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ deposit_type                   <chr> "No Deposit", "No Deposit", "No Deposit~
$ agent                          <chr> "NULL", "NULL", "NULL", "304", "240", "~
$ company                        <chr> "NULL", "NULL", "NULL", "NULL", "NULL",~
$ days_in_waiting_list           <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ customer_type                  <chr> "Transient", "Transient", "Transient", ~
$ adr                            <dbl> 0.00, 0.00, 75.00, 75.00, 98.00, 98.00,~
$ required_car_parking_spaces    <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ~
$ total_of_special_requests      <dbl> 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 3, ~
$ reservation_status             <chr> "Check-Out", "Check-Out", "Check-Out", ~
$ reservation_status_date        <date> 2015-07-01, 2015-07-01, 2015-07-02, 20~

In [8]:
# dataframe column names
colnames(bookings_df)

 [1] "hotel"                          "is_canceled"
 [3] "lead_time"                      "arrival_date_year"
 [5] "arrival_date_month"             "arrival_date_week_number"
 [7] "arrival_date_day_of_month"      "stays_in_weekend_nights"
 [9] "stays_in_week_nights"           "adults"
[11] "children"                       "babies"
[13] "meal"                           "country"
[15] "market_segment"                 "distribution_channel"
[17] "is_repeated_guest"              "previous_cancellations"
[19] "previous_bookings_not_canceled" "reserved_room_type"
[21] "assigned_room_type"             "booking_changes"
[23] "deposit_type"                   "agent"
[25] "company"                        "days_in_waiting_list"
[27] "customer_type"                  "adr"
[29] "required_car_parking_spaces"    "total_of_special_requests"
[31] "reservation_status"             "reservation_status_date"

In [9]:
# advanced data summarization
skim_without_charts(bookings_df)

-- Data Summary ------------------------
                           Values
Name                       bookings_df
Number of rows             119390
Number of columns          32
_______________________
Column type frequency:
  character                13
  Date                     1
  numeric                  18
________________________
Group variables            None

-- Variable type: character ----------------------------------------------------
# A tibble: 13 x 8
   skim_variable        n_missing complete_rate   min   max empty n_unique
 * <chr>                    <int>         <dbl> <int> <int> <int>    <int>
 1 hotel                        0             1    10    12     0        2
 2 arrival_date_month           0             1     3     9     0       12
 3 meal                         0             1     2     9     0        5
 4 country                      0             1     2     4     0      178
 5 market_segment               0             1     6    13     0        8
 6 distribution_channel         0             1     3     9     0        5
 7 reserved_room_type           0             1     1     1     0       10
 8 assigned_room_type           0             1     1     1     0       12
 9 deposit_type                 0             1    10    10     0        3
10 agent                        0             1     1     4     0      334
11 company                      0             1     1     4     0      353
12 customer_type                0             1     5    15     0        4
13 reservation_status           0             1     7     9     0        3
   whitespace
 *      <int>
 1          0
 2          0
 3          0
 4          0
 5          0
 6          0
 7          0
 8          0
 9          0
10          0
11          0
12          0
13          0

-- Variable type: Date ---------------------------------------------------------
# A tibble: 1 x 7
  skim_variable           n_missing complete_rate min        max
* <chr>                       <int>         <dbl> <date>     <date>
1 reservation_status_date         0             1 2014-10-17 2017-09-14
  median     n_unique
* <date>        <int>
1 2016-08-07      926

-- Variable type: numeric ------------------------------------------------------
# A tibble: 18 x 10
   skim_variable                  n_missing complete_rate       mean       sd
 * <chr>                              <int>         <dbl>      <dbl>    <dbl>
 1 is_canceled                            0          1       0.370     0.483
 2 lead_time                              0          1     104.      107.
 3 arrival_date_year                      0          1    2016.        0.707
 4 arrival_date_week_number               0          1      27.2      13.6
 5 arrival_date_day_of_month              0          1      15.8       8.78
 6 stays_in_weekend_nights                0          1       0.928     0.999
 7 stays_in_week_nights                   0          1       2.50      1.91
 8 adults                                 0          1       1.86      0.579
 9 children                               4          1.00    0.104     0.399
10 babies                                 0          1       0.00795   0.0974
11 is_repeated_guest                      0          1       0.0319    0.176
12 previous_cancellations                 0          1       0.0871    0.844
13 previous_bookings_not_canceled         0          1       0.137     1.50
14 booking_changes                        0          1       0.221     0.652
15 days_in_waiting_list                   0          1       2.32     17.6
16 adr                                    0          1     102.       50.5
17 required_car_parking_spaces            0          1       0.0625    0.245
18 total_of_special_requests              0          1       0.571     0.793
        p0    p25    p50   p75  p100
 *   <dbl>  <dbl>  <dbl> <dbl> <dbl>
 1    0       0      0       1     1
 2    0      18     69     160   737
 3 2015    2016   2016    2017  2017
 4    1      16     28      38    53
 5    1       8     16      23    31
 6    0       0      1       2    19
 7    0       1      2       3    50
 8    0       2      2       2    55
 9    0       0      0       0    10
10    0       0      0       0    10
11    0       0      0       0     1
12    0       0      0       0    26
13    0       0      0       0    72
14    0       0      0       0    21
15    0       0      0       0   391
16   -6.38   69.3   94.6   126  5400
17    0       0      0       0     8
18    0       0      0       1     5

In [10]:
trimmed_df <- bookings_df %>% select(hotel, is_canceled, lead_time)

In [11]:
head(trimmed_df)

  hotel        is_canceled lead_time
1 Resort Hotel 0           342
2 Resort Hotel 0           737
3 Resort Hotel 0             7
4 Resort Hotel 0            13
5 Resort Hotel 0            14
6 Resort Hotel 0            14

In [12]:
trimmed_df <- bookings_df %>% select(hotel, is_canceled, lead_time) %>% rename(hotel_type = hotel)

In [13]:
head(trimmed_df)

  hotel_type   is_canceled lead_time
1 Resort Hotel 0           342
2 Resort Hotel 0           737
3 Resort Hotel 0             7
4 Resort Hotel 0            13
5 Resort Hotel 0            14
6 Resort Hotel 0            14

**unite() :** combine columns

In [14]:
example_df <- bookings_df %>% select(arrival_date_year, arrival_date_month) %>% unite(arrival_month_year, c("arrival_date_month","arrival_date_year"), sep=" ")

In [15]:
head(example_df)

  arrival_month_year
1 July 2015
2 July 2015
3 July 2015
4 July 2015
5 July 2015
6 July 2015

In [17]:
example_df <- bookings_df %>% mutate(guests = adults+children+babies)
head(example_df)

  hotel        is_canceled lead_time arrival_date_year arrival_date_month
1 Resort Hotel 0           342       2015              July
2 Resort Hotel 0           737       2015              July
3 Resort Hotel 0             7       2015              July
4 Resort Hotel 0            13       2015              July
5 Resort Hotel 0            14       2015              July
6 Resort Hotel 0            14       2015              July
  arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights
1 27                       1                         0
2 27                       1                         0
3 27                       1                         0
4 27                       1                         0
5 27                       1                         0
6 27                       1                         0
  stays_in_week_nights adults ... agent company days_in_waiting_list
1 0                    2      ... NULL  NULL    0
2 0                    2      ... NULL  NULL    0
3 1                    1      ... NULL  NULL    0
4 1                    1      ... 304   NULL    0
5 2                    2      ... 240   NULL    0
6 2                    2      ... 240   NULL    0
  customer_type adr required_car_parking_spaces total_of_special_requests
1 Transient      0  0                           0
2 Transient      0  0                           0
3 Transient     75  0                           0
4 Transient     75  0                           0
5 Transient     98  0                           1
6 Transient     98  0                           1
  reservation_status reservation_status_date guests
1 Check-Out          2015-07-01              2
2 Check-Out          2015-07-01              2
3 Check-Out          2015-07-02              1
4 Check-Out          2015-07-02              1
5 Check-Out          2015-07-03              2
6 Check-Out          2015-07-03              2

In [22]:
example_df <- bookings_df %>% summarize(number_cancelled = sum(is_canceled),average_lead_time = mean(lead_time))

In [23]:
head(example_df)

  number_cancelled average_lead_time
1 44224            104.0114