In [1]:
id <- c(1:10)

In [2]:
id

 [1]  1  2  3  4  5  6  7  8  9 10

In [3]:
name <- c("John Mendes", "Rob Stewart", "Rachel Abrahamson", "Christy Hickman", "Johnson Harper", "Candace Miller", "Carlson Landy", "Pansy Jordan", "Darius Berry", "Claudia Garcia")

In [4]:
name

 [1] "John Mendes"       "Rob Stewart"       "Rachel Abrahamson"
 [4] "Christy Hickman"   "Johnson Harper"    "Candace Miller"
 [7] "Carlson Landy"     "Pansy Jordan"      "Darius Berry"
[10] "Claudia Garcia"

In [5]:
job_title <- c("Professional", "Programmer", "Management", "Clerical", "Developer", "Programmer", "Management", "Clerical", "Developer", "Programmer")

In [6]:
job_title

 [1] "Professional" "Programmer"   "Management"   "Clerical"     "Developer"
 [6] "Programmer"   "Management"   "Clerical"     "Developer"    "Programmer"

In [7]:
employee <- data.frame(id, name, job_title)

In [8]:
employee

   id name              job_title
1   1 John Mendes       Professional
2   2 Rob Stewart       Programmer
3   3 Rachel Abrahamson Management
4   4 Christy Hickman   Clerical
5   5 Johnson Harper    Developer
6   6 Candace Miller    Programmer
7   7 Carlson Landy     Management
8   8 Pansy Jordan      Clerical
9   9 Darius Berry      Developer
10 10 Claudia Garcia    Programmer