# Anscombe's quartet

In [1]:
library(tidyverse)
library(skimr)
library(janitor)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.5     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.0.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()


Attachement du package : 'janitor'


Les objets suivants sont masqués depuis 'package:stats':

    chisq.test, fisher.test

In [2]:
library(Tmisc)

In [3]:
data(quartet)

In [4]:
head(quartet)

  set x  y
1 I   10 8.04
2 I    8 6.95
3 I   13 7.58
4 I    9 8.81
5 I   11 8.33
6 I   14 9.96

In [6]:
str(quartet)

'data.frame':	44 obs. of  3 variables:
 $ set: Factor w/ 4 levels "I","II","III",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ x  : int  10 8 13 9 11 14 6 4 12 7 ...
 $ y  : num  8.04 6.95 7.58 8.81 8.33 ...

In [8]:
quartet %>% group_by(set) %>% summarize(mean(x),sd(x),mean(y),sd(y),cor(x,y))

  set mean(x) sd(x)    mean(y)  sd(y)    cor(x, y)
1 I   9       3.316625 7.500909 2.031568 0.8164205
2 II  9       3.316625 7.500909 2.031657 0.8162365
3 III 9       3.316625 7.500000 2.030424 0.8162867
4 IV  9       3.316625 7.500909 2.030579 0.8165214

We can notice that the datasets in here look pretty much identical

In [13]:
ggplot(quartet,aes(x,y)) + geom_point() + geom_smooth(method = lm,se =FALSE )+facet_wrap(-set)

ERROR: Error in validate_facets(x): objet 'set' introuvable